@use 'variables';

@mixin tablet {
    @media (min-width: variables.$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$desktop-breakpoint) {
        @content;
    }
}

@mixin avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-position: left;
    object-fit:cover;
}

@mixin main-info-logo {
    background-repeat: no-repeat;
    padding-left: 2rem;
    color: $Silver;
}

@mixin button {
    background-repeat: no-repeat;
    background-position: 5px center;
    border-radius: 0.3rem;
}