//break points for tablet/desktop
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$BrainFlix-Black: #323232;
$BrainFlix-blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;

//secondary colors
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alablaster: #FAFAFA;