@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

li a {
    display: flex;
    align-items: center;
    width: 200%;
    padding-bottom: 1rem;
    gap: 1rem;
    text-decoration: none;
    color: $BrainFlix-Black;
}

.video__img {
    width: 7.3rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 4px;
}

.video__container {
    width: 10rem;
}

.video__title {
    overflow: hidden;
    padding-bottom: 0.5rem;
    font-weight: 600;
}