
.video__img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 4px;
}

.video__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
}

.video__container {
}

.video__title {
    overflow: hidden;
    padding-bottom: 0.5rem;
    font-weight: 600;
}