@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;



.heading {
  padding: 1rem 1rem 0;
  border-top: 1px solid $Mercury;
  @include tablet {
    padding: 2rem 2rem 0;
  }
  @include desktop {
    padding: 3rem 8rem 2rem;
  }
}

.upload {
  margin: 1rem;
  @include tablet {
    margin: 2rem;
  }
  @include desktop {
    border-top: 1px solid $Mercury;
    margin: 0 8rem;
  }
  &__desktop-wrap {
    @include desktop {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
    }
  }
  &__text {
    text-transform: uppercase;
    font-weight: 600;
    color: $Silver;
    margin-bottom: 0.1rem;
    @include tablet {
        font-size: 0.75rem;
        border-top: 1px solid $Mercury;
        padding-top: 2rem;
    }
    @include desktop {
        border: none;
    }
  }
  &__thumbnail {
    width: 100%;
    border-radius: 4px;
    @include tablet {
        width: 50%;
    }
    @include desktop {
      width: 31%;
    }
  }
  &__container {
    @include tablet {
        padding-bottom: 0.5rem;
    }
    @include desktop {

    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @include desktop {
      display: flex;
      gap: 1.5rem;
    }
  }
   &__form-wrapper {
      @include desktop{
        display: flex;
        flex-direction: column;
        width: 66%;
      }     
    }
   &__form-wrap {
      @include desktop {
        display: flex;
        flex-direction: column;
      } 
    }
  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    @include desktop {
        margin-bottom: 1.5rem;
    }
  }
  &__label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: $Silver;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
  }
  &__input {
    border: solid 1px $Mercury;
    border-radius: 4px;
    color: $BrainFlix-Black;
    background-color: $Alablaster;
    height: 2.5rem;
    padding-left: 1rem;
  }
  &__box {
    font-family: "Avenir Next";
    border: solid 1px $Mercury;
    border-radius: 4px;
    color: $BrainFlix-Black;
    background-color: $Alablaster;
    resize: none;
    width: 100%;
    height: 5rem;
    padding: 0.5rem 1rem;
  }
  &__button-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        gap: 4.5rem;
        margin: 2rem 0;
        border-top: 1px solid $Mercury;
    }
    @include desktop {
      margin: 2rem 0;
    }
  }
  &__submit {
    background-size: 1.3rem;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: $White;
    background-color: $BrainFlix-blue;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.74rem;
    font-weight: 600;
    margin: 1.5rem 0;
    background-image: url(../../assets/Icons/publish.svg);
    @include button;
    @include tablet {
        order: 1;
        width: 22%;
    }
    @include desktop {
        width: 15%;
    }
  }
  &__cancel {
    color: $BrainFlix-blue;
    text-transform: uppercase;
    font-size: 0.74rem;
    font-weight: 600;
    border: none;
    background: $White;
    margin: 0.5rem;
    @include tablet {
    }
  }
}
